@import "tailwindcss";

/* Import Swiper styles */
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/pagination";

:root {
  --heading-scale: 1;
  /* color */
  --background: #191b24;
  --foreground: #ffffff;
  --footer-bg: #0f111a;
  --header-bg: #0f111a;
  --muted-foreground: #aaaaaa;

  --input: #ffffff14;
  --border: #ffffff14;
}
@theme {
  --spacing-8xl: 96rem;
  --breakpoint-8xl: 96rem;
  /* font */
  --font-plus: "Plus Jakarta Sans", ui-sans-serif, system-ui;
  --font-syne: "Syne", sans-serif;
  /* color */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-footer-bg: var(--footer-bg);
  --color-header-bg: var(--header-bg);

  --color-muted-foreground: var(--muted-foreground);

  --color-input: var(--input);
  --color-select: var(--input);
  --color-button: var(--input);
  --color-border: var(--border);

  /* aspect */
  --aspect-thumbnail: 2/3;

  /* size */
  --text-13: 13px;
  --text-10: 10px;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground text-sm;
  }

  @media (max-width: 768px) {
    :root {
      --heading-scale: 0.75 !important;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-plus duration-300 tracking-tight;
  }
  h1 {
    font-size: calc(3rem * var(--heading-scale)); /* Gốc 48px -> Mobile 36px */
  }

  h2 {
    font-size: calc(
      1.875rem * var(--heading-scale)
    ); /* Gốc 30px -> Mobile 22.5px */
  }

  h3 {
    font-size: calc(
      1.5rem * var(--heading-scale)
    ); /* Gốc 24px -> Mobile 18px */
  }

  h4 {
    font-size: calc(
      1.25rem * var(--heading-scale)
    ); /* Gốc 20px -> Mobile 15px */
  }

  h5 {
    font-size: calc(1rem * var(--heading-scale)); /* Gốc 16px -> Mobile 12px */
  }

  h6 {
    font-size: 0.875rem;
  }
  button {
    @apply cursor-pointer;
  }
  option {
    @apply bg-slate-800;
  }
}

@layer components {
  .link {
    @apply text-blue-500 underline;
  }
  .img {
    @apply w-full h-full block object-center object-cover;
  }
  /* Custom Scrollbar cho toàn bộ trang hoặc class cụ thể */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Độ rộng của thanh cuộn */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #18181b; /* Tương đương zinc-900 */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3f3f46; /* Màu xám tối ban đầu (zinc-700) */
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #dc2626; /* Đổi sang màu đỏ chủ đạo của ông (red-600) */
  }
}
